<sequence xmlns="http://ws.apache.org/ns/synapse" name="custom-header-in">
    <header name="X-ENV-KEY" value="dev_101" scope="transport" />
    <log level="custom">
        <property name="Sent header(X-ENV-KEY)" value="dev_101"/>
    </log>
</sequence>
