build
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.iml

vendor

# IDEs
.idea/
.settings
.vscode/

*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# Import Export CLI
# =================

# Binaries
import-export-cli/apictl
import-export-cli/import-export-cli
import-export-cli/build/
import-export-cli/integration/ci-resources/offset0/distribution/
import-export-cli/integration/ci-resources/offset1/distribution/

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
import-export-cli/.glide/

apim-apk-agent/.gradle/

import-export-cli/vendor

# Sample API and App for testing
!import-export-cli/cmd/sampleapi.zip
!import-export-cli/cmd/sampleApp.zip
!import-export-cli/cmd/testdata/*.zip

# YAML Config Files
import-export-cli/env_endpoints_all.yaml
import-export-cli/env_keys_all.yaml

# Test Coverage Indicators
import-export-cli/utils/c.out
import-export-cli/utils/coverage.out
import-export-cli/utils/coverage.html
import-export-cli/integration/coverage.txt

# ==================
