environments:{{- range $name, $elem := . }}
  - name: {{ $name }}
    endpoints:
      production:
      sandbox:
    security:
      enabled: 
      type: 
      username: 
      password: 
{{- end }}
