environments:{{- range $name, $elem := . }}
  - name: {{ $name }}
    configs:
        endpoints:
          production:
          sandbox:
{{- end }}

deploy:
  import:
    update: true
    preserveProvider: true
