[Desktop Entry]
Encoding=UTF-8
Name=Link to product-apim-tooling/README.md at master · wso2/product-apim-tooling
Type=Link
URL=https://github.com/wso2/product-apim-tooling/blob/master/import-export-cli/resources/README.md
Icon=text-html
Name[en_US]=README.html
