# Ignore everything in this directory
*

# Except these files
!.gitignore


# ...even if they are in subdirectories
!*/

# if the files are in subdirectories
!/swagger/cricket.json
!/swagger/map.json
!/swagger/news.json
!/swagger/payment.json
!/swagger/places.json
!/swagger/weather.json

