config:
  http_timeout: 2500
  export_directory: .

environments:
  dev:
    api_manager_endpoint: ""
    registration_endpoint: ""
    token_endpoint: ""
  staging:
    api_manager_endpoint: ""
    registration_endpoint: ""
    token_endpoint: ""
  qa:
    api_manager_endpoint: ""
    registration_endpoint: ""
    token_endpoint: ""
